.container{
    display: grid;

/*  1   grid-template-columns: 200px 200px ;
    grid-template-rows: 200px 200px ; */
    color: red;
   
 /* 2   grid-template-columns: 200px   auto 200px; */

 /*     grid-template-columns: 1fr  2fr 1fr;
     grid-template-rows: 2fr 1fr  ; */

     grid-template-columns: repeat(2, 1fr);

     



     
    
    padding: 10px;
    border: 3px  solid salmon;
}

.one{
    background-color: aqua;
}



.two{
    background-color: pink;
}

.three{
    background-color:yellow;
}

.four{
    background-color:black;
}

.five {
    background-color:green;
}

.six {
    background-color: blue;
}
